.section__main {
  display: flex;
  justify-content: center;
  gap: 100px;
  .brandss{
    display: flex;
    gap: 10px;
    margin-top: 2px;
    //styleName: Text M+;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .input:checked {
    background-color: white;
  }
}
.section__right__cards{
  display: flex;
  flex-wrap: wrap;
  h4 {
    width: 300px;
  }
}
.section__right__Card img {
  width: 200px;
  height: 200px;
  border: 1px solid seagreen;
}